.wrapper{
   /* margin:1rem 23.1875rem;  */
    width: 80%; 
    margin: 0 auto;     
}
@media (max-width:1200px){
  .wrapper{
    /* max-width: 970px; */
  }
}
@media (max-width: 992px){
  .wrapper{
    /* max-width: 750px; */
  }
}
@media (max-width:768px){
  p{
   margin: 0px 24px;
  }
}  
h1  {
  text-align: center
}
h2{
  /* margin:1rem 23.1875rem; */
}
.main_image{
  width: 100%;

} 
img{
  display:block;
  width: 100%;
  margin:0rem 1.5rem;

}
p{
  /* margin:1rem 23.1875rem; */
  text-align: justify;
}
ul{
  /* margin:1rem 22rem; */
}
table {
  margin:0 auto;
  font-family: Rubik;
  font-size: 13px;
  width: 33%;
  text-align: center;
  border-collapse: collapse;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
th {
  font-size: 18px;
  font-weight: Rubik;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 10px;
}
td {
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 8px;
}
.reaction{
  display: inline-block;
  text-align: center
}

