.wrapper{
    width: 80%; 
    margin: 0 auto;     
}



@media (max-width:1200px){
  .wrapper{
   
  }
}
@media (max-width: 992px){
  .wrapper{
  
  }
}
@media (max-width:768px){
  p{
   margin: 0px 24px;
  }  
}    
h1  {
  text-align: center
}



.main_image{
  width: 100%;
} 


img{
  display:block;
  width: 100%;
}


p{
  text-align: justify;
}


table {
  margin:0 auto;
  font-family: Rubik;
  font-size: 13px;
  width: 33%;
  text-align: center;
  border-collapse: collapse;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
th {
  font-size: 18px;
  font-weight: Rubik;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 10px;
}
td {
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 8px;
}


.parent{
  display: flex;
  width:100%;
  justify-content: center;
}
.reaction{
  display: flex;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.platformer{
  display: flex;
  justify-content: center;
  height: 550px ;
  width: 100%;
  align-items: center;
  background-color:#e5eaf8;
  

}
.plreaction{
  display: flex;
  width: 25%;
}
h3{
 display: flex;
 justify-content: center;
}
